POSTGRES_USER= votre user
POSTGRES_PASSWORD= votre mot de passe sécurisé
POSTGRES_DB= votre nom de base de données

DB_HOST= votre host
DB_NAME= votre nom de base de données
DB_USER= votre user
DB_PASSWORD= votre mot de passe sécurisé